.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.col-left {
  flex: 1;
  height: 100%;
  padding: 50px;
}

.col-right {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}